# Build output
bin/
obj/

# Test output
TestResults/
*.trx
*.coverage
coverage.cobertura.xml

# Visual Studio
.vs/
*.user
*.suo
*.ide.db
*.userprefs

# Rider / VS Code
.idea/
.vscode/

# Publish profiles
PublishProfiles/

# Mac
.DS_Store

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet
*.nupkg
.nuget/
packages/
